<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <title>Data Dashboard</title>
  <link rel="shortcut icon" href="../assets/icons/favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
  <link rel='stylesheet' href='../css/main.css'>
</head>

<body>
  <header>
    <div class="center">
      <img class="width-16 logo" src="../assets/images/logo-laboratoria.svg" alt="Laboratoria">
    </div>
  </header>
  <nav class="bold menu">
    <ul>
      <li class="cohort">
        <h1>SANTIAGO DE CHILE 2017 - II</h1>
      </li>
      <li class="dropdown">
        <span>&#9660;</span>
        <ul class="hide item-list item-list-sede-cohort-js">
          <!-- LIMA -->
          <li class="line">
            <span class="checkbox"></span> LIMA</li>
          <li>
            <span class="checkbox"></span> 2015 - I</li>
          <li>
            <span class="checkbox"></span> 2015 - II</li>
          <li>
            <span class="checkbox"></span> 2016 - I</li>
          <li>
            <span class="checkbox"></span> 2016 - II</li>
          <li>
            <span class="checkbox"></span> 2017 - I</li>
          <li>
            <span class="checkbox"></span> 2017 - II</li>
          <!-- AREQUIPA  -->
          <li class="line">
            <span class="checkbox"></span> AREQUIPA</li>
          <li>
            <span class="checkbox"></span> 2015 - I</li>
          <li>
            <span class="checkbox"></span> 2015 - II</li>
          <li>
            <span class="checkbox"></span> 2016 - I</li>
          <li>
            <span class="checkbox"></span> 2016 - II</li>
          <li>
            <span class="checkbox"></span> 2017 - I</li>
          <li>
            <span class="checkbox"></span> 2017 - II</li>
          <!--SANTIAGO  -->
          <li class="line">
            <span class="checkbox"></span> SANTIAGO DE CHILE</li>
          <li>
            <span class="checkbox"></span> 2015 - I</li>
          <li>
            <span class="checkbox"></span> 2015 - II</li>
          <li>
            <span class="checkbox"></span> 2016 - I</li>
          <li>
            <span class="checkbox"></span> 2016 - II</li>
          <li>
            <span class="checkbox"></span> 2017 - I</li>
          <li>
            <span class="checkbox"></span> 2017 - II</li>
          <!-- CDMX -->
          <li class="line">
            <span class="checkbox"></span> CIUDAD DE MÉXICO</li>
          <li>
            <span class="checkbox"></span> 2015 - I</li>
          <li>
            <span class="checkbox"></span> 2015 - II</li>
          <li>
            <span class="checkbox"></span> 2016 - I</li>
          <li>
            <span class="checkbox"></span> 2016 - II</li>
          <li>
            <span class="checkbox"></span> 2017 - I</li>
          <li>
            <span class="checkbox"></span> 2017 - II</li>
        </ul>
      </li>
    </ul>
    <ul>
      <li class="menu-nav">
        <a href="../index.html">OVERVIEW</a>
      </li>
      <li class="menu-nav active">STUDENTS</li>
      <li class="menu-nav">TEACHERS</li>
    </ul>
  </nav>
  <main>

    <aside class="width-33">
      <h3>SPECIALIZATION:</h3>
      <ul class="specialization">
        <li>
          <span class="checkbox"></span> Javascript</li>
        <li>
          <span class="checkbox"></span> UX Design</li>
        <li>
          <span class="checkbox"></span> Front end Designer</li>
      </ul>
    </aside>
    <div class="search">
      <input type="search" placeholder="Buscar">
    </div>
    <section id="container-students" class="container-cards">
      <article class="card-student">
        <div class="inline-block student-photo">
          <img class="" src="https://dummyimage.com/81.5x81.5/000/fff.jpg&text=foto" alt="">
        </div>
        <div class="inline-block width-40 student-name">
          <h3>Nombre Alumna</h3>
          <button class="btn-dropout destructive">Dropout</button>
        </div>
        <div class="inline-block width-40 student-scores">
          <div class="skills-small inline-block">
            <h4>95.5%</h4>
            <p>Tech skills</p>
          </div>
          <div class="skills-small inline-block">
            <h4>95.5%</h4>
            <p>Life skills</p>
          </div>
        </div>
      </article>
    </section>
  </main>
  <!-- Base de datos -->
  <script src='../js/data.js'></script>

  <!-- Aquí va tus archivos JS -->
  <script src='../js/app.js'></script>
  <script src='../js/students.js'></script>

  <script src='../js/showStudents.js'></script>
</body>

</html>